<div>
  <h1>Place Value</h1>

  <h2>Numbers 0 to 120</h2>

  <p>Question 5 of 10.</p>

  <p>
    What number is right before <span class="bold">77</span>? 
  </p>
  <p>
    <input
      id="numbers-0-to-120-input-5"
      class="form-control width-50"
      type="text"
      ng-model="$ctrl.userAnswer"
      ng-enter="$ctrl.checkAnswer({ userAnswer: $ctrl.userAnswer, correctAnswer: $ctrl.correctAnswer })">
  </p>
  <button
    class="btn btn-default"
    ng-click="$ctrl.checkAnswer({ userAnswer: $ctrl.userAnswer, correctAnswer: $ctrl.correctAnswer })"
    ng-disabled="$ctrl.isUserCorrect">
    Submit
  </button>
  <button id="nextBtn" ng-click="$ctrl.nextQuestion()" class="btn btn-default" ng-show="$ctrl.isUserCorrect">Next</button>
</div>