html,
body {
  min-height: 100vh;
}

body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica";
  color:#303C6C;
  /* background-color: #FBE8A6; */
  /* background-color: #F4976C; */
  background-color: #D2FDFF;
  /* background-color: #B4DFE5; */
  /* background-color: whitesmoke; */
  /* background: red;  */
  /* background: linear-gradient(#D2FDFF, #B4DFE5); */
  /* height: 92%; */
  font-size: 17px;
  background: linear-gradient(to bottom right, #FBE8A6, #F4976C) no-repeat;  
}

.container {
  /* height: 100%; */
  min-height: calc(100vh - 140px);
  /* background-color: red; */
  /* margin-bottom: -80px; */
}

.footer {
  /* bottom: 0;
  position: absolute; */
  /* box-shadow: 0 0 10px 5px grey; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  height: 60px;
  color: #FBE8A6;
  background-color: #303c6c;
  text-align: center;
}

.footer p {
  /* margin-top: 20px; */
  padding-top: 20px;
  font-style: italic;
}

.footer a {
  color: #F4976C;
}

.hidden {
  display: none;
}

.red {
  color: red;
}

.green {
  color: green;
}

.bold {
  font-weight: bold;
}

.listStyleNone {
  list-style-type: none;
}

.red {
  color: red;
}


/* .black-background {
  background-color: black;
} */

.blackout-td {
  background-color: #303C6C;
}

.ten-frame {
  border: 2px solid #303C6C;
  border-radius: 10px;
  margin-bottom: 18px;
}

.inline {
  display: inline;
}

.ten-frame-container {
  display: inline-block;
}

.pad-5 {
  padding: 5px;
}

.transparent {
  opacity: 0;
}

table {
  border: 2px solid #303c6c;
  /* border: 1px solid black; */
  max-width: 60%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

/* tr {
  border: 1px solid black;
} */

td {
  border: 2px solid #303c6c;
  color: #303C6C;
  /* border: 1px solid black; */
  padding: 5px 10px;
  margin: 0;
}

#nav {
  /* box-shadow: 0 0 10px 5px grey; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 80px;
  /* border-bottom: 1px solid lightgray; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* background-color: #F4976C; */
  /* background-color: #FBE8A6; */
  background-color: #303C6C;
}

#nav a {
  /* padding: 10px; */
  text-decoration: none;
  border: 3px solid #303C6C;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  /* the following is being overridden below on #nav-links a:hover */
  border-radius: 10px;
  color: black;
}

/* #nav a:hover {
  background-color: lightgray;
} */

a[ng-click] {
  cursor: pointer;
  color: #303C6C;
  text-decoration: none;
  font-size: 17px;
}

/* a[ng-click] i {
  opacity: 0;
} */

a[ng-click]:hover {
  /* color: lightblue; */
  text-decoration: underline;
  /* opacity: 1; */
}

/* a[ng-click] i:hover {
  opacity: 1;
} */

#nav-brand-logo {
  width: 440px;
  /* color: #303C6C; */
  /* color: #F4976C; */
  color: #FBE8A6;
  padding-left: 10px;
}

#nav-brand-logo i {
  margin-right: 5px;
}

#nav-active-child-username,
#nav-brand-logo {
  margin: 0;
  align-self: center;
}

#nav-active-child-username {
  /* color: #303C6C; */
  color: #FBE8A6;
}

#nav-active-child-avatar {
  width: 75px;
  height: 75px;

  margin: 0 5px;
  border: none;
  border-radius: 50%;
}

#nav-links {
  display: flex;
}

#nav-links a {
  /* background-color: #D2FDFF; */
  /* background-color: #FBE8A6; */
  background-color:#303C6C;
  color: #FBE8A6;
  /* color:#303C6C; */
}

/****************************************************/
/* Not sure which of the following two looks better */
/****************************************************/

/* #nav-links a:hover {
  background-color: #FBE8A6;
  border-color: #FBE8A6;
  color: #303C6C;
} */

#nav-links a:hover {
  /* background-color: #FBE8A6; */
  /* border-color: #FBE8A6; */
  border-radius: 0;
  border-bottom-color: #FBE8A6;
  /* color: #303C6C; */
}
/********************************************************/
/* End Not sure which of the following two looks better */
/********************************************************/

/* #nav-links a:hover:not(.fa) {
  text-decoration: underline;
} */

#nav-links i {
  /* color:#303C6C; */
  margin-right: 5px;
}

#username-avatar-div {
  display: flex;
  flex-direction: row-reverse;
  /* width: 50%; */
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 10px;
  border-color: #FBE8A6;
}

img:hover {
  border-color: #303C6C;
}

label {
  font-size: 17px;
}

/* #username-avatar-div img {
  margin: 0 5px;
  border: none;
  border-radius: 50%;

} */

#username-avatar-div h2 {
  margin-left: 5px;
} 

.width-50 {
  width: 50px;
}

#userInput {
  width: 50px;
  /* background-color: #FBE8A6; */
}

/* #userInput:focus {
  border: 1px solid rgba(244, 151, 108, 1);
} */

#new-child-username {
  width: 200px;
}

#toast-container > div {
  /* margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #ffffff; */
  opacity: 1;
  /* -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80); */
}

:not(.no-enter)#toast-container > div.ng-enter,
:not(.no-leave)#toast-container > div.ng-leave
{ 
  -webkit-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 500ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 

select.form-control {
  width: 15%;
}

.underline {
  text-decoration: underline;
}

#loginEmail,
#loginPassword {
  width: 250px;
}

.modal-content {
  color:#303C6C;
  background: linear-gradient(to bottom right, #FBE8A6, #F4976C) no-repeat;
}

.modal-content p {
  margin-bottom: 30px;
}

.modal-content,
.modal-footer {
  text-align: center;
}

.modal-header,
.modal-footer {
  border-color: #303C6C; 
}

#registeredChildrenList {
  margin-bottom: 0;
}

#registeredChildListItem {
  padding-bottom: 10px;
}



#registeredChildListItem:not(:last-of-type) {
  margin-bottom: 25px;
  border-bottom: 1px solid #303C6C;
}

#registeredChildListItem h2 {
  margin-bottom: 0;
}

#registeredChildListItem h3 {
  margin-top: 0;
}

#registeredChildListItem button {
  float: right;
}

@media (min-height: 100%) {
  body {
    height: initial;
  }
}

@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}

.pulse {
	animation-name: pulse_animation;
	animation-duration: 2000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#login-div {
  width: 325px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
}

/* .container {
  min-height: 100%;
  margin-bottom: -80px;
} */

/* @media (min-height: 100vh) {
  body {
    height: 100%;
  }
} */