<h1>Place Value Practice</h1>

<h2>2 Digit Comparison</h2>

<p>
  23 is ______ 33 <span id="message" class="hidden">{{ message }}</span></p>
</p>

<label>
  <input type="radio" ng-model="userAnswer" value="less than">
  less than
</label>
<br>

<label>
  <input type="radio" ng-model="userAnswer" value="greater than">
  greater than
</label>
<br>

<label>
  <input type="radio" ng-model="userAnswer" value="equal to">
  equal to
</label>
<br>

<button ng-click="checkAnswer()">Submit</button>
<button id="nextBtn" ng-click="nextQuestion()" class="hidden">Next</button>

