<h1>Place Value Practice</h1>

<h2>2 Digit Comparison</h2>

<p>
  85 __ 84 <span id="message" class="hidden">{{ message }}</span></p>
</p>

<label>
  <input type="radio" ng-model="userAnswer" value="less than">
  &lt;
</label>
<br>

<label>
  <input type="radio" ng-model="userAnswer" value="equal to">
  =
</label>
<br>

<label>
  <input type="radio" ng-model="userAnswer" value="greater than">
  &gt;
</label>
<br>

<button ng-click="checkAnswer()">Submit</button>
<button id="nextBtn" ng-click="nextQuestion()" class="hidden">Next</button>

