<h1>Place Value Practice</h1>

<h2>2 Digit Place Value</h2>

<p>Which are the same as the number 44?</p>

<div ng-repeat="availableAnswer in availableAnswers">
  <label>
  <input
    type="checkbox"
    name="selectedFruits[]"
    value="{{availableAnswer}}"
    ng-checked="userAnswers.indexOf(availableAnswer) > -1"
    ng-click="toggleSelection(availableAnswer)"> 
      {{availableAnswer}}
  </label>  
</div>

<br />
<button ng-click="printSelected()">Submit</button>
</div>

<!-- <p>
  65 = 10 + 10 + 10 + 10 + 10 + 10 + 1 + 1 + 1 + 1
</p>

<label>
  <input type="radio" ng-model="userAnswer" value="true">
  True <span id="incorrect_message" class="red bold hidden">{{ incorrectMessage }}</span> 
</label>
<br>

<label>
  <input type="radio" ng-model="userAnswer" value="false">
  False <span id="correct_message" class="greeen bold hidden">{{ correctMessage }}</span>
</label>
<br>

<button ng-click="checkAnswer()">Submit</button>
<button id="nextBtn" ng-click="nextQuestion()" class="hidden">Next</button> -->

