<h1>Welcome {{ activeChild.username }}</h1>
<p>What would you like to practice?</p>
<!-- TODO 12-11-2017 - update this to the appropriate link -->
<h2>Place Value</h2>
<a href="#!/practice/place-value-1" ng-click="">Numbers 0 to 120</a>
<br>
<a href="#!/practice/place-values/groups-of-ten/groups-of-ten-1" ng-click="">Groups of 10</a>
<br>
<a href="#!/practice/place-values/tens-and-ones/tens-and-ones-1" ng-click="">Tens and Ones</a>
<br>
<a href="#!/practice/place-values/two-digit-place-value/two-digit-place-value-1" ng-click="">Two Digit Place Value</a>
<br>
<a href="#!/practice/place-values/two-digit-comparison/two-digit-comparison-1" ng-click="">Two Digit Comparison</a>

<h2>Addition and Subtraction</h2>
<br>
<!-- <a href="#!/practice/addition-subtraction/two-digit-comparison/two-digit-comparison-1" ng-click="">Place Value: Two Digit Comparison</a> -->
<a href="#!/practice/addition-subtraction/adding-within-twenty/adding-within-twenty-1" ng-click="">Adding Within 20</a>
<br>
<a href="#!/practice/addition-subtraction/add-three-numbers/add-three-numbers-1" ng-click="">Adding Three Numbers</a>
<br>
<a href="#!/practice/addition-subtraction/subtract-within-twenty/subtract-within-twenty-1" ng-click="">Subtract Within 20</a>
<br>
<a href="#!/practice/addition-subtraction/equality" ng-click="">Equality</a>
