<h1>Select the child account you wish to use.</h1>
<!-- <form>
  <select>
    <option ng-repeat="child in childrenList">{{ child.username }}</option>
  </select>
  <button ng-click="test()">Submit</button>
</form> -->
<form name="myForm">
  <label for="mySelect">Select Child Account:</label>
  <select name="mySelect" id="mySelect"
    ng-options="child.username for child in childrenList.availableOptions track by child.id"
    ng-model="childrenList.selectedOption"></select>
    <!-- TODO 12-23-2017 deactivate this button if there are no registered children -->
    <button ng-click="activateChild()">Submit</button>
</form>