<h1>What would you like to practice?</h1>

<div id="place-value">
  <h2 class="underline">Place Value</h2>
  <a href="#!/practice/place-value/numbers-0-to-120/1" ng-click="$ctrl.trackConcept($event)">
    <i class="fa fa-pencil"></i> Numbers 0 to 120
  </a>
  <br>
  <!-- <a href="#!/practice/place-values/groups-of-ten/groups-of-ten-1" ng-click="$ctrl.trackConcept($event)">
    <i class="fa fa-pencil"></i> Groups of 10
  </a>
  <br>
  <a href="#!/practice/place-values/tens-and-ones/tens-and-ones-1" ng-click="$ctrl.trackConcept($event)">
    <i class="fa fa-pencil"></i> Tens and Ones
  </a>
  <br>
  <a href="#!/practice/place-values/two-digit-place-value/two-digit-place-value-1" ng-click="$ctrl.trackConcept($event)">
    <i class="fa fa-pencil"></i> Two Digit Place Value
  </a>
  <br>
  <a href="#!/practice/place-values/two-digit-comparison/two-digit-comparison-1" ng-click="$ctrl.trackConcept($event)">
    <i class="fa fa-pencil"></i> Two Digit Comparison
  </a> -->
</div>

<div id="addition-and-subtraction">
  <h2 class="underline">Addition and Subtraction</h2>
  <!-- <a href="#!/practice/addition-subtraction/adding-within-twenty" ng-click="$ctrl.trackConcept($event)">
    <i class="fa fa-pencil"></i> Add Within 20
  </a>
  <br>
  <a href="#!/practice/addition-subtraction/add-three-numbers" ng-click="$ctrl.trackConcept($event)">
    <i class="fa fa-pencil"></i> Add Three Numbers
  </a>
  <br>
  <a href="#!/practice/addition-subtraction/subtract-within-twenty" ng-click="$ctrl.trackConcept($event)">
    <i class="fa fa-pencil"></i> Subtract Within 20
  </a>
  <br>
  <a href="#!/practice/addition-subtraction/equality" ng-click="$ctrl.trackConcept($event)">
    <i class="fa fa-pencil"></i> Equality
  </a> -->
</div>
