<h1>Place Value Practice</h1>

<h2>Tens and Ones</h2>

<p>How many rockets are there below?</p>
  <br>
  <div class="ten-frame-container">
    <div ng-repeat="value in tens" class="ten-frame">
      <i ng-repeat="value in tenFrame" class="fa fa-rocket fa-2x pad-5" aria-hidden="true"></i>
    </div>
    <div class="ten-frame">
        <i ng-repeat="value in tenFrame" ng-class="{transparent : !ones[$index]}" class="fa fa-rocket fa-2x pad-5" aria-hidden="true"></i>
    </div>
  </div>
<p>
  <input type="text" size="5" ng-model="userAnswer"> <span id="message" class="hidden">{{ message }}</span>
</p>
<button ng-click="checkAnswer()">Submit</button>
<button id="nextBtn" ng-click="nextQuestion()" class="hidden">Next</button>

