<div ng-controller="Problem1Controller as vm">
  <h1>Place Value</h1>

  <h2>Numbers 0 to 120</h2>

  <p>Question 1 of 10.</p>

  <p>What is the missing number?</p>
  
  <p>
    100, 101, 102, 103, 104, <input class="form-control width-50 inline" type="text" ng-model="vm.userAnswer" ng-enter="vm.checkAnswer()">, 106. 107, 108, 109, 110 
    <span class="green bold" ng-show="vm.isUserCorrect">That's correct, awesome job!</span>
    <span class="red bold" ng-show="!vm.isUserCorrect && vm.isUserSubmittedAnswer">Sorry that is incorrect, please try agin.</span>
  </p>
  <button class="btn btn-default" ng-click="vm.checkAnswer()" ng-disabled="vm.isUserCorrect">Submit</button>
  <button id="nextBtn" ng-show="vm.isUserCorrect" ng-click="vm.sharedService.nextQuestion()" class="btn btn-default">Next</button>
</div>
