<div ng-controller="Problem3Controller as vm">
  <h1>Place Value</h1>

  <h2>Numbers 0 to 120</h2>

  <p>Question 3 of 10.</p>

  <p>What is the missing number?</p>

  <p>
    <input class="form-control width-50 inline" type="text" ng-model="vm.userAnswer" ng-enter="vm.checkAnswer()"> , 1, 2, 3, 4, 5, 6, 7, 8, 9 
  </p>
  <button class="btn btn-default" ng-click="vm.checkAnswer()" ng-disabled="vm.isUserCorrect">Submit</button>
  <button id="nextBtn" ng-click="vm.sharedService.nextQuestion()" class="btn btn-default" ng-show="vm.isUserCorrect">Next</button>
</div>