<div>
  <h1>Place Value</h1>

  <h2>Numbers 0 to 120</h2>

  <p>Question 3 of 10.</p>

  <p>What is the missing number?</p>

  <p>
    <input
      id="numbers-0-to-120-input-3"
      class="form-control width-50 inline"
      type="text"
      ng-model="$ctrl.userAnswer"
      ng-enter="$ctrl.checkAnswer({ userAnswer: $ctrl.userAnswer, correctAnswer: $ctrl.correctAnswer })">
       , 1, 2, 3, 4, 5, 6, 7, 8, 9 
  </p>
  <button
    class="btn btn-default"
    ng-click="$ctrl.checkAnswer({ userAnswer: $ctrl.userAnswer, correctAnswer: $ctrl.correctAnswer })"
    ng-disabled="$ctrl.isUserCorrect">
    Submit
  </button>
  <button id="nextBtn" ng-click="$ctrl.nextQuestion()" class="btn btn-default" ng-show="$ctrl.isUserCorrect">Next</button>
</div>