<div ng-controller="Problem8Controller as vm">
  <h1>Place Value</h1>

  <h2>Numbers 0 to 120</h2>

  <p>Question 8 of 10.</p>

  <p>
    What number is right after <span class="bold">110</span>? 
  </p>
  <p>
    <input class="form-control width-50" type="text" ng-model="vm.userAnswer" ng-enter="vm.checkAnswer()">
  </p>
  <button class="btn btn-default" ng-click="vm.checkAnswer()" ng-disabled="vm.isUserCorrect">Submit</button>
  <button id="nextBtn" ng-click="vm.sharedService.nextQuestion()" class="btn btn-default" ng-show="vm.isUserCorrect">Next</button>
</div>