<div id="createEmployeeAnchor" class="hidden">
  <a href="#!/employees/new">Create Employee</a>
  <hr>
</div>
<div id="login-div">
  <h1><i class="far fa-rocket"></i> S1mple Math</h1>
  <h2 ng-hide="existingUser">Sign Up</h2>
  <h2 ng-show="existingUser">Log In</h2>
  
  <form class="form-group">
    <input id="loginEmail" class="form-control" ng-model="loginEmail" type="email" placeholder="Email">
    <br>
    <input id="loginPassword" class="form-control" ng-model="loginPassword" type="password" placeholder="Password" ng-enter="loginSignUp()">
    <br>
    <button class="btn btn-default" ng-show="existingUser" ng-click="login()">Log In</button>
    <button class="btn btn-default" ng-hide="existingUser" ng-click="signUp()">Sign Up</button>
    <button id="btnLogout" ng-click="logout()" class="btn btn-default hidden">Log Out</button>
  </form>
  
  <!-- already a user click here -->
  <div>
    <a href="" ng-click="existingUser=true" ng-hide="existingUser">Already a user, click here to login!</a>
    <a href="" ng-click="existingUser=false" ng-show="existingUser">Not currently a user, click here to sign up!</a>
  </div>
</div>
