<div ng-if="$ctrl.isProblem1()" ng-include="'place-value/numbers-0-to-120/problem-1/problem-1.partial.html'"></div>
<div ng-if="$ctrl.isProblem2()" ng-include="'place-value/numbers-0-to-120/problem-2/problem-2.partial.html'"></div>
<div ng-if="$ctrl.isProblem3()" ng-include="'place-value/numbers-0-to-120/problem-3/problem-3.partial.html'"></div>
<div ng-if="$ctrl.isProblem4()" ng-include="'place-value/numbers-0-to-120/problem-4/problem-4.partial.html'"></div>
<div ng-if="$ctrl.isProblem5()" ng-include="'place-value/numbers-0-to-120/problem-5/problem-5.partial.html'"></div>
<div ng-if="$ctrl.isProblem6()" ng-include="'place-value/numbers-0-to-120/problem-6/problem-6.partial.html'"></div>
<div ng-if="$ctrl.isProblem7()" ng-include="'place-value/numbers-0-to-120/problem-7/problem-7.partial.html'"></div>
<div ng-if="$ctrl.isProblem8()" ng-include="'place-value/numbers-0-to-120/problem-8/problem-8.partial.html'"></div>
<div ng-if="$ctrl.isProblem9()" ng-include="'place-value/numbers-0-to-120/problem-9/problem-9.partial.html'"></div>
<div ng-if="$ctrl.isProblem10()" ng-include="'place-value/numbers-0-to-120/problem-10/problem-10.partial.html'"></div>