<h1>Place Value Practice</h1>

<h2>Groups of 10</h2>

<p>
  12 groups of ten = <input class="form-control width-50" type="text" ng-model="userAnswer"> <span id="message" class="hidden">{{ message }}</span>
</p>
<!-- <p>
  <input type="text" size="5" ng-model="userAnswer"> <span id="message" class="hidden">{{ message }}</span>
</p> -->
<button class="btn btn-default" ng-click="checkAnswer()">Submit</button>
<button id="nextBtn" ng-click="nextQuestion()" class="btn btn-default hidden">Next</button>

