<div ng-controller="Problem2Controller as vm">
  <h1>Place Value</h1>

  <h2>Numbers 0 to 120</h2>

  <p>Question 2 of 10.</p>

  <p>What is the missing number?</p>
  
  <p>
    51, 52, 53, <input class="form-control width-50 inline" type="text" ng-model="vm.userAnswer" ng-enter="vm.checkAnswer()">, 55, 56, 57, 58, 59
  </p>
  <button class="btn btn-default" ng-click="vm.checkAnswer()" ng-disabled="vm.isUserCorrect">Submit</button>
  <button id="nextBtn" ng-click="vm.sharedService.nextQuestion()" class="btn btn-default" ng-show="vm.isUserCorrect">Next</button>
</div>