<h1>Registered Children</h1>
<ul>
  <li id="registeredChildListItem" ng-repeat="child in childrenList" class="listStyleNone">
    <button class="btn btn-default" ng-click="removeChild(child)">Remove</button>
    <h2>{{ child.username }}</h2>
    <br>
    <h3>Progress</h3>

    <h4>Place Value</h4>
    <p style="color: red;" ng-hide="child.completedConcepts.placevalue.length">{{child.username}} hasn't completed any Place Value concepts.</p>
    <ul ng-show="child.completedConcepts.placevalue.length">
      <li ng-repeat="concept in child.completedConcepts.placevalue">{{concept.conceptTitle}}</li>
    </ul>
    
    <h4>Addition and Subtraction</h4>
      <p style="color: red;" ng-hide="child.completedConcepts.additionandsubtraction.length">{{child.username}} hasn't completed any Addition and Subtraction concepts.</p>
      <ul ng-show="child.completedConcepts.additionandsubtraction.length">
        <li ng-repeat="concept in child.completedConcepts.additionandsubtraction">{{concept.conceptTitle}}</li>
      </ul>

      <!-- <hr> -->
    </li>
  </li>

</ul>