body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica";
  color:#303C6C;
  /* background-color: #FBE8A6; */
  /* background-color: #D2FDFF; */
  background: red; 
  background: linear-gradient(#D2FDFF, #B4DFE5);
}

.hidden {
  display: none;
}

.red {
  color: red;
}

.green {
  color: green;
}

.bold {
  font-weight: bold;
}

.listStyleNone {
  list-style-type: none;
}

.red {
  color: red;
}


.black-background {
  background-color: black;
}

.ten-frame {
  border: 1px solid black;
  margin-bottom: 5px;
}

.ten-frame-container {
  display: inline-block;
}

.pad-5 {
  padding: 5px;
}

.transparent {
  opacity: 0;
}

table {
  border: 1px solid black;
  max-width: 60%;
  border-collapse: collapse;
}

tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 5px 10px;
  margin: 0;
}

#nav {
  height: 80px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  /* background-color: #F4976C; */
  /* background-color: #FBE8A6; */
  background-color: #303C6C;
}

#nav a {
  /* padding: 10px; */
  text-decoration: none;
  border: 2px solid #303C6C;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  /* the following is being overridden below on #nav-links a:hover */
  border-radius: 10px;
  color: black;
}

/* #nav a:hover {
  background-color: lightgray;
} */

a[ng-click] {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

a[ng-click]:hover {
  color: lightblue;
}

#nav_brand_logo {
  width: 330px;
  /* color: #303C6C; */
  /* color: #F4976C; */
  color: #FBE8A6;
}

#nav_active_child_username,
#nav_brand_logo {
  margin: 0;
  align-self: center;
}

#nav_active_child_username {
  /* color: #303C6C; */
  color: #FBE8A6;
}

#nav_active_child_avatar {
  width: 75px;
  height: 75px;

  margin: 0 5px;
  border: none;
  border-radius: 50%;
}

#nav-links {
  display: flex;
}

#nav-links a {
  /* background-color: #D2FDFF; */
  /* background-color: #FBE8A6; */
  background-color:#303C6C;
  color: #FBE8A6;
  /* color:#303C6C; */
}

/****************************************************/
/* Not sure which of the following two looks better */
/****************************************************/

/* #nav-links a:hover {
  background-color: #FBE8A6;
  border-color: #FBE8A6;
  color: #303C6C;
} */

#nav-links a:hover {
  /* background-color: #FBE8A6; */
  /* border-color: #FBE8A6; */
  border-radius: 0;
  border-bottom-color: #FBE8A6;
  /* color: #303C6C; */
}
/********************************************************/
/* End Not sure which of the following two looks better */
/********************************************************/

/* #nav-links a:hover:not(.fa) {
  text-decoration: underline;
} */

#nav-links i {
  /* color:#303C6C; */
  margin-right: 5px;
}

#username_avatar_div {
  display: flex;
  flex-direction: row-reverse;
  /* width: 50%; */
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
}

/* #username_avatar_div img {
  margin: 0 5px;
  border: none;
  border-radius: 50%;

} */

#username_avatar_div h2 {
  margin-left: 5px;
} 
