body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica";
}

.hidden {
  display: none;
}

.red {
  color: red;
}

.green {
  color: green;
}

.bold {
  font-weight: bold;
}

.listStyleNone {
  list-style-type: none;
}

.red {
  color: red;
}


.black-background {
  background-color: black;
}

.ten-frame {
  border: 1px solid black;
  margin-bottom: 5px;
}

.ten-frame-container {
  display: inline-block;
}

.pad-5 {
  padding: 5px;
}

.transparent {
  opacity: 0;
}

table {
  border: 1px solid black;
  max-width: 60%;
  border-collapse: collapse;
}

tr {
  border: 1px solid black;
}

td {
  border: 1px solid black;
  padding: 5px 10px;
  margin: 0;
}

#nav {
  height: 80px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#nav a {
  /* padding: 10px; */
  text-decoration: none;
  border: 1px solid lightgray;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 5px;
  border-radius: 10px;
  color: black;
}

#nav a:hover {
  background-color: lightgray;
}

a[ng-click] {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

a[ng-click]:hover {
  color: lightblue;
}

#nav_brand_logo {
  width: 330px;
}

#nav_active_child_username,
#nav_brand_logo {
  margin: 0;
  align-self: center;
}

#nav_active_child_username {
  color: mediumpurple;
}

#nav_active_child_avatar {
  width: 75px;
  height: 75px;

  margin: 0 5px;
  border: none;
  border-radius: 50%;
}

#nav-links {
  display: flex;
}

#username_avatar_div {
  display: flex;
  flex-direction: row-reverse;
  /* width: 50%; */
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
}

/* #username_avatar_div img {
  margin: 0 5px;
  border: none;
  border-radius: 50%;

} */

#username_avatar_div h2 {
  margin-left: 5px;
} 
