<h1>Place Value</h1>

<h2>Numbers 0 to 120</h2>

<p>Question 2 of 10.</p>

<p>
  What is the missing number?
</p>
<p>
  51, 52, 53, <input class="form-control width-50 inline" type="text" ng-model="userAnswer">, 55, 56, 57, 58, 59 <span class="green bold" ng-show="userIsCorrect">That's correct, awesome job!</span><span class="red bold" ng-show="userIsIncorrect">Sorry that is incorrect, please try agin.</span><!-- <span id="message" class="hidden">{{ message }}</span> -->
</p>
<button class="btn btn-default" ng-click="check()">Submit</button>
<button id="nextBtn" ng-click="nextQuestion()" class="btn btn-default" ng-show="userIsCorrect">Next</button>