<h1>Place Value</h1>

<h2>Numbers 0 to 120</h2>

<p>Question 3 of 10.</p>

<p>
  What is the missing number?
</p>
<p>
  <input class="form-control width-50 inline" type="text" ng-model="userAnswer"> , 1, 2, 3, 4, 5, 6, 7, 8, 9 <span class="green bold" ng-show="userIsCorrect">That's correct, awesome job!</span><span class="red bold" ng-show="userIsIncorrect">Sorry that is incorrect, please try agin.</span>
</p>
<button class="btn btn-default" ng-click="check()">Submit</button>
<button id="nextBtn" ng-click="nextQuestion()" class="btn btn-default" ng-show="userIsCorrect">Next</button>