<h1>Place Value</h1>

<h2>Numbers 0 to 120</h2>

<p>Question 1 of 10.</p>

<!-- question here -->
<!-- <div ng-bind-html="problem"></div>
<input type="text" ng-model="userAnswer"> -->
<p>
  What is the missing number?
</p>
<p>
  100, 101, 102, 103, 104, <input class="form-control width-50 inline" type="text" ng-model="userAnswer">, 106. 107, 108, 109, 110 <span class="green bold" ng-show="userIsCorrect">That's correct, awesome job!</span><span class="red bold" ng-show="userIsIncorrect">Sorry that is incorrect, please try agin.</span>
</p>
<button class="btn btn-default" ng-click="check()">Submit</button>
<button id="nextBtn" ng-show="userIsCorrect" ng-click="nextQuestion()" class="btn btn-default">Next</button>



<!-- correct or incorrect message to user -->
